@define-color background rgba(16, 21, 16, 0.8);
@define-color background-alt rgb(65, 73, 65);
@define-color text rgb(224, 228, 220);
@define-color accent rgb(155, 212, 161);
@define-color border rgb(139, 147, 137);
