/* You can change the color here */
@import "./theme.css";

* {
  font-family: 'IBM Plex Sans', 'JetBrainsMono Nerd Font Propo';
  font-weight: 500;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.88);
  color: rgb(205, 214, 244);
  border-radius: 16px 16px 0 0;
}

window#waybar box {
  padding: 1px 0;
}

.modules-left {
  margin-left: 2px;
}

.modules-right {
  margin-right: 4px;
  background-color: rgb(69, 71, 90);
  border-radius: 24px;
  font-size: 15px;
}

#custom-menu {
  padding: 0 12px;
  background-color: rgb(69, 71, 90);
  border-radius: 50px;
  font-size: 14px;
}

#custom-menu:hover {
  background-color: rgb(88, 91, 112);
}

#workspaces {
  background-color: rgb(30, 30, 46);
  border-radius: 24px;
  border: 1px solid rgb(108, 112, 134);
  transition: all 0.25s ease-in-out;
}

#workspaces button {
  background-color: rgb(69, 71, 90);
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 24px;
  font-size: 14px;
}

#workspaces button:last-child,
#workspaces button:first-child {
  margin: 0 2px;
}

#workspaces button.active {
  background-color: rgb(249, 226, 175);
  color: rgb(30, 30, 46);
}

#language {
  margin-left: 12px;
}

#wireplumber {
  font-size: 18px;
}

#clock {
  margin-right: 12px;
}
