/* You can change the color here */
@import "./colors.css";

* {
  font-family: 'IBM Plex Sans', 'JetBrainsMono Nerd Font Propo';
  font-weight: 500;
}

window#waybar {
  background-color: @background;
  color: @text;
}

window#waybar box {
  padding: 1px 0;
}

tooltip {
  background-color: @background;
}

tooltip label {
  color: @text;
}

.modules-right {
  margin-right: 4px;
  background-color: @background-alt;
  border-radius: 24px;
  font-size: 14px;
}

#custom-menu {
  padding: 0 12px;
  background-color: @background-alt;
  border-radius: 50px;
  font-size: 16px;
}

#workspaces {
  background-color: @background;
  border-radius: 24px;
  border: 1px solid @border;
  transition: all 0.25s ease-in-out;
}

#workspaces button {
  background-color: @background-alt;
  padding: 0 4px;
  margin: 0 4px;
  border-radius: 24px;
  font-size: 14px;
}

#workspaces button:last-child,
#workspaces button:first-child {
  margin: 0 2px;
}

#workspaces button.active {
  background-color: @accent;
  color: @background;
}

#language {
  margin-left: 12px;
}

#wireplumber {
  font-size: 18px;
}

#clock {
  margin-right: 12px;
}
